doctype html
html
  head
   
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    script.
      function randomCalCalls_1000(){
       var opers = ["+", "-", "*", "/"];
       var p1 = Math.floor(Math.random() * 10) + 1;
       var p2 = Math.floor(Math.random() * 10) + 1;
       var oper = opers[Math.floor(Math.random() * 3) + 1];
       var query = "http://127.0.0.1:3000/calculator/?oper=" + oper + "&p1=" + p1 + "&p2=" + p2;
       document.getElementById("request_1000").href = query;
       console.log(query);}
    
  body(onload="randomCalCalls_1000();")
   center
    form(name="Calc", action="/calculator", method="post")
      table(border="4")
        tr
          td
            input(type="text", name="Input", size="16" value='#{result}')
            input(type="button", name="clear", value="  c  ", onclick="Calc.Input.value = ''")
            br
        tr
          td
            input(type="button", name="one", value="  1  ", onclick="Calc.Input.value += '1'")
            input(type="button", name="two", value="  2  ", onclick="Calc.Input.value += '2'")
            input(type="button", name="three", value="  3  ", onclick="Calc.Input.value += '3'")
            input(type="button", name="plus", value="  +  ", onclick="Calc.Input.value += ' + '")
            br
            input(type="button", name="four", value="  4  ", onclick="Calc.Input.value += '4'")
            input(type="button", name="five", value="  5  ", onclick="Calc.Input.value += '5'")
            input(type="button", name="six", value="  6  ", onclick="Calc.Input.value += '6'")
            input(type="button", name="minus", value="  -  ", onclick="Calc.Input.value += ' - '")
            br
            input(type="button", name="seven", value="  7  ", onclick="Calc.Input.value += '7'")
            input(type="button", name="eight", value="  8  ", onclick="Calc.Input.value += '8'")
            input(type="button", name="nine", value="  9  ", onclick="Calc.Input.value += '9'")
            input(type="button", name="times", value="  x  ", onclick="Calc.Input.value += ' * '")
            br
            
            input(type="button", name="zero", value="  0  ", onclick="Calc.Input.value += '0'")
            input(type="button", name="decimal", value="  .  ", onclick="Calc.Input.value += '.'")
            input(type="submit", name="DoIt", value="  =  ")
            input(type="button", name="div", value="  /  ", onclick="Calc.Input.value += ' / '")
            br
    a(id = "request_1000", href = "" ) Invoke 1000 consecutive calculator calls.
    

        

         
          
